.new-post-input{
  height: 50px;
  width: 200px;
}

.new-post-panel{
  margin-left: 40px;
}

.post-holder{
  background-color: #FFF;
  display: block;
  padding: 10px;
  width: 600px;
  border: 1px solid #e9eaed;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  position:relative;
}

.post-body{

}

.poster-info{
  display: flex;
  position: relative;
}

.poster-stuff{
  display: flex;
  padding-bottom: 30px;
  padding-left: 10px;
}



.poster-name{
  color: #365899;
  line-height: 1.38;
  font-size: 14px;
  cursor: pointer;
}

.to{
  font-size: 10px;
}

.enclosing-span{
  color: #365899;
  line-height: 1.38;
  font-size: 14px;
}

.receiver-name{
  color: #365899;
  line-height: 1.38;
  font-size: 14px;
  cursor: pointer;
}

.receiverName{
  color: #365899;
  line-height: 1.38;
  font-size: 14px;
}

.post-profile-img-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-profile-img-container{
  width: 40px;
  height: 40px;
}

.post-body{
  border: 1px solid #FFF;
  padding: 0px 0px 0px 0px;
  padding: 5px 5px 15px 5px;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #e9eaed;
}

.poster-name-container{
  height: 40px;
  padding-bottom: 10px;
}

.new-post-panel{
  display: block;
  background-color: #FFF;
  padding: 10px;
  margin-bottom: 5px;
  width: 600px;
  border: 1px solid #e9eaed;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  position:relative;
}

.new-post-content{
  border-bottom: 1px solid #e9eaed;
  padding: 5px 5px 12px 5px;
  display: flex;
}

.new-post-content input{
  border: none;
  font-size: 14px;
}

.new-post-btn-container{
  padding: 10px 5px 3px 5px;
}

.new-post-btn-container input{
  background-color: #365899;
  border-color: #365899;
  border: 1px solid;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  padding: 5px 9px 5px 9px;
  border-radius: 1px;
  font-size: 14px;
}

.new-post-panel{
  margin-left: 0px;
}

.feed-posts{
  width:600px;
  margin: auto;
  margin-top: 10px;
}

.like-btn{
  background-color: #FFF;
  border-color: #2e6da4;
}

.post-menu{
  display: flex;
}

.like-count{
  display: block;
  margin-left: 5px;
  margin-top: 2px;
  color: #337ab7;
  font-size: 12px;
}

.like-btn i{
  color: #337ab7;
}

.unlike-btn{
  border-color: #2e6da4;
}

.post-and-comment-holder{
  margin-bottom: 5px;
  width: 600px;
  border: 1px solid #e9eaed;
  border-radius: 2px;
}

.comment-container{
  width: 100%;
  padding: 5px 10px 10px 10px;
  margin-left: 1px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
}

.new-comment-form form{
  display: flex;
  justify-content: space-around;
}

.new-comment-form {
  padding: 10px 5px 5px 2px;
}

.comment-submit{
  margin-top: 10px;
}

.comment-txt{
  width: 350px;
  height: 20px;
  margin-top: 6px;
  padding-left: 7px;
}

.curr-user{
  margin-top: 2px;
}

.comment{
  display: flex;
  padding: 10px;
  margin-left: 10px;
  border-bottom: 1px solid #e9eaed;
}

.commentor-name{
  margin-left: 5px;
}

.comment-body{
  margin-left: 10px;
  margin-top: 9px;
  font-size: 12px;
}
